div{
    width: 100%;
    height: auto;
    margin: auto;
    font-size:16px;
    font-family:"MV Boli",serif;
    text-shadow: 3px 3px 4px;
}
.uklad{
    width:33%;
    height:auto;
    margin:auto;
    float: left;
}
h1{
    text-align:center;
}
button {
    border: 3px solid black;
    color: white;
    background-color: #008CBA;
    padding: 5px 20px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    margin: auto;
    cursor: pointer;
}
input {
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 5px;
    padding: 4px 15px;
    text-align: center;

}
select{
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px 10px;
}