div{
    align-items: center;
    text-align: center;
    max-width: 100%;
    height: 100%;
    margin:auto;
    overflow: auto;
    overflow-y: hidden;
    font-family: "Bahnschrift", serif;
}
.przyciski{
    width: 25%;
    height: auto;
    float: left;
    font-family:"Bahnschrift", serif;
}
button {
    width: 100%;
    height: 100%;
    background-color: #55ffd8;
    padding: 20px;
    border-radius: 25px;
    font-size: 150%;
    color: #4949d5;
    font-family:"Bahnschrift",serif;
}
.button_2{
    width: 100%;
    height: 100%;
    background-color: #5eff2f;
    padding: 20px;
    border-radius: 25px;
    font-size: 150%;
    color: #4949d5;
    font-family:"Bahnschrift",serif;
}

.div_input{
    width: 90%;
    height: 20px;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid black;
    font-size: 150%;

}